.header {
    width: 100px;
    left: 140vh;
    top: 27px;
    position: relative;
    font-family: "Poppins", "sans-serif";
}

.add-salaries {
    color: white;
    background-color: #4361ee;
    border-radius: 20px;
    font-size: 15.5px;
    height: 30px;
    width: 120px;
    border: none;
    left: 190px;
    bottom: 4px;
    position: relative;
}

.add-salaries:hover {
    background-color: white;
    color: #4361ee;
    border: 1px solid #4361ee;
}

.modal-dialog {
    align-items: center;
    top: 100px;
    font-family: "Poppins", "sans-serif"
}

.modal-content {
    width: 500px;
    height: 500px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
}

.input-container {
    margin-bottom: 50px;
    margin-top: -15px;
}

.input-container input[type="text"],
.input-container input[type="hidden"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    height: 40px;
}

.input-container input[type="hidden"] {
    display: none;
}

.modal-body input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

.modal-footer .btn-secondary {
    position: relative;
    top: -30px;
    left: 5px;
    color: #FFFFFF;
    background-color: yellow;
    border: 2px solid yellow;
    font-weight: 500;
    height: 35px;
}

.modal-footer .btn-primary {
    position: relative;
    top: -30px;
    left: 5px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: red;
    border: 2px solid red;
    height: 35px;
}

.modal-footer {
    text-align: right;
    border-top: none;
    bottom: 10px;
    position: relative;
}