<div class="container">
  <div class="header">
    <button type="button" class="add-salaries" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Add
      Salaries</button>
  </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
          <div  class="salaries">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="form-img">
              <img src="../../../assets/SignInHat.c0636635.svg" alt="" />
            </div>
            <h5>Add you Salary</h5>
            <form class="form">
              <div class="input-container">
              <input type="number" formControlName="Amount" required placeholder="Amount"/>
              </div>
              <div class="input-container">
                <input formControlName="Experience" required placeholder="Experience"/>
              </div>
              <div class="input-container">
                <input formControlName="Location" required placeholder="Location"/>
              </div>
              <div class="input-container">
                <input formControlName="Language" required placeholder="Language"/>
              </div>
              <div class="input-container">
                <input formControlName="Job" required placeholder="Job"/>
              </div>
              <button  class="btn1" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
