.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  padding: 0;
  height: 60px;
  font-family: 'Poppins';
}

.navbarText {
  color: #4361EE;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0em;
  position: relative;
  left: 24px;
  top: 10px;
}

.navbarMenu {
  list-style: none;
  font-size: 22px;
  top: 24px;
  right: 1081px;
  position: absolute;
}

.navbarMenu a {
  text-decoration: none;
  color: #4361EE;
  padding: 10px;
  cursor: pointer;
}

.navbarMenu a:hover {
  color: blue;
}

.container {
  width: 100%;
  height: 100%;
  position: static;
  overflow-y: hidden;
}

.container img {
  position: absolute;
  top: 200px;
  left: 260px;
  right: 0;
  bottom: 0;
  width: 62%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}